/* SUBEDI RABIN M25W0465 */
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes shrink {
  from { width: 100%; }
  to { width: 0%; }
}

.animate-shrink {
  animation: shrink linear forwards;
}